.three-col-item.blue {
    padding: 86px 0px;
    background-color: #005c99;
}

.three-col-item .swiper-button-next {
    right: -60px;
}

.three-col-item .swiper-button-prev {
    left: -60px;
}

.three-col-item.blue .swiper-button-prev {
    background-image: url("images/arrow_left.svg");
}

.three-col-item.blue .swiper-button-next {
    background-image: url("images/arrow_right.svg");
}

.three-col-item .swiper-button-next, .three-col-item .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1595px) {
    .three-col-item .swiper-button-prev {
        left: -48px;
    }

    .three-col-item .swiper-button-next {
        right: -48px;
    }
}

@media (max-width: 1495px) {
    .three-col-item .swiper-button-prev {
        left: -60px;
    }

    .three-col-item .swiper-button-next {
        right: -60px;
    }
}

@media (max-width: 1360px) {
    .three-col-item .swiper-button-prev {
        left: 10px;
    }

    .three-col-item .swiper-button-next {
        right: 10px;
    }

    .three-col-item.blue .swiper-button-next, .three-col-item.blue .swiper-button-prev {
        background-color: rgba(0, 0, 0, .15);
    }
}

@media(max-width: 1250px){
    .main-banner-slider .swiper-button-prev{
        left: 10px;
    }
    .main-banner-slider .swiper-button-next{
        right: 10px;
    }
}

