*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}
img{
	max-width: 100%;
}
/*header*/
header{
	padding-top: 32px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.header-wrapper {
	display: flex;
	margin-bottom: 25px;
	align-items: center;
	justify-content: space-between;
}


.tagline p{
	font-size: 14px;
	font-weight: 300;
}
.header-search{
	width: 100%;
	max-width: 374px;
	max-height: 41px;
	position: relative;
}
.header-search input{
	width: 100%;
	height: 41px;
	padding-left: 20px;
	border: 1px solid #e2e2e3;
}
.header-search button{
	position: absolute;
	top: 11px;
	right: 20px;
	border: none;
	background-color: transparent;

}
.mail-phone a{
	display: flex;
	color: #000000;
	font-size: 20px;
	font-weight: 300;
	align-items: center;
	text-decoration: none;
}
.mail-phone a img{
	margin-right: 20px;
}
.header-menu{
	background-color: #2f3545;
}

.header-menu-items{
	height: 55px;
	display: flex;
	justify-content: space-between;
}
.header-menu-items li{
	height: 100%;
	list-style: none;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	position: relative;

}
.header-menu-items li:hover{
	background-color: #1c212e;
}
.header-menu-items li a{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;

}
.header-dropdown{
	top: 100%;
	left: 0;
	display: none;
	position: absolute;
	padding: 47px 60px;
	background-color: #fff;
	box-shadow: 2px 0 6px 0 rgba(0,0,0,.19);
	min-width: 100%;
	z-index: 10;
}
.header-dropdown.w{
	width: 400px;
}
.header-menu-items li:hover .header-dropdown{
	display: block;
}
.header-menu-items li .header-dropdown a{
	color: #000;
	display: block;
	font-size: 16px;
	font-weight: 300;
	text-align: left;
	margin-bottom: 20px;
	text-transform: none;
}
.header-menu-items li .header-dropdown a:last-child{
	margin-bottom: 0;
}
.header-menu-items li .header-dropdown a:hover{
	color: #0062a0;
}

@media(max-width: 1199px){
	.header-logo {
		max-width: 150px;
	}
	.tagline p{
		font-size: 14px;
	}
	.header-menu-items li a{
		font-size: 12px;
	}
}
@media(max-width: 1024px){
	.header-logo {
		max-width: 130px;
	}
	.tagline p{
		font-size: 12px;
	}
	.mail-phone a{
		font-size: 13px;
	}
	.header-menu-items{
		height: 40px;
		max-width: 720px;
	}

	.header-menu-items li{
		width: auto;
		padding: 0px 10px;
	}
	.header-menu-items li:hover .header-dropdown {
		display: block;
		padding: 20px 10px;
	}
	.header-menu-items li .header-dropdown a {
		font-size: 13px;
		margin-bottom: 10px;
	}
	.header-dropdown.w{
		width: 300px;
	}
}
@media(max-width: 767px){
	.header-wrapper {
		display: block;
		text-align: center;
	}
	.header-menu-items {
		display: block;
		height: auto;
		padding: 15px 0px;
	}
	.header-logo {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.tagline p {
		font-size: 16px;
	}
	.tagline{
		margin-bottom: 20px;
	}
	.mail-phone a {
		font-size: 21px;
		justify-content: center;
	}
	.header-menu-items li{
		margin-bottom: 10px;
	}
	.header-menu-items li a {
		font-size: 16px;
	}
	.header-dropdown.w{
		width: auto;
	}
	.header-menu-items li{
		display: block;
	}
	.header-menu-items li:hover{
		background-color: transparent;
	}
	.header-menu-items li{
		display: block;
	}
	.header-dropdown{
		position: relative;
		top: 0px;
		left: 0px;
		padding-left: 10px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-color: transparent;
	}
	.header-menu-items li .header-dropdown a{
		color: #fff;
		font-size: 16px;
	}



}
/*/header*/

/*footer*/
section.footer{
	color: #92979b;
	padding: 21px 0px;
	background-color: #fafafa;
}
.footer-wrapper{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.footer-address{
	display: flex;
	max-width: 350px;
	align-items: center;
}
.footer-address img{
	margin-right: 21px;
}
.footer-dev-info p{
	font-size: 14px;
	font-weight: 300;
}
.footer-dev-info p.dev{
	font-size: 11px;
	margin-top: 15px;
	font-weight: 300;
	text-align: right;
}
.footer-dev-info p.dev a{
	color: #0f4e84;
	text-decoration: none;
}
@media(max-width: 1399px){
	.footer-dev-info {
		max-width: 420px;
	}
}
@media(max-width: 1199px){
	.footer-dev-info {
		max-width: 300px;
	}
	.footer-address {
		max-width: 280px;
	}
}
@media(max-width: 1024px){
	.footer-wrapper{
		flex-wrap: wrap;
	}
	.footer-address {
		max-width: 350px;
	}
	.footer-dev-info {
		max-width: 100%;
		margin-left: auto;
		margin-top: 30px;
	}
}
@media(max-width: 767px){
	.footer-address {
		max-width: 100%;
		margin-top: 20px;
	}
	.footer-logo {
		margin: 0px auto;
	}
}
/* /footer*/

/*Форма обратной связи*/
.feedback{
	padding: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f7f7f7;

}
.feedback-title{
	text-align: center;
	margin-bottom: 43px;
}
.feedback-content{
	display: flex;
	justify-content: space-between;
}
.feedback-input-list{
	width: 100%;
	flex-shrink: 0;
	max-width: 48%;
	margin-right: 62px;
}
.feedback-input-list input{
	width: 100%;
	height: 49px;
	border: none;
	display: block;
	padding-left: 20px;
	margin-bottom: 17px;
	box-sizing: border-box;
}
.feedback-textarea-list {
	width: 100%;
	flex-shrink: 0;
	max-width: 48%;
}
.feedback-textarea{
	margin-bottom: 17px;
}
.feedback-textarea textarea{
	width: 100%;
	border: none;
	height: 115px;
	padding-top: 20px;
	padding-left: 20px;
	box-sizing: border-box;
}
.feedback-button{
	margin-bottom: 14px;
}
.feedback-button a{
	width: 100%;
	height: 49px;
	color: #c11a19;
	text-decoration: none;
	border: 1px solid #c11a19;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}
.feedback-button a:hover{
	color: #fff;
	background-color: #c11a19;
}
.privacy-pol p {
	display: flex;
	align-items: center;
}
.privacy-pol input{
	width: 20px;
	height: 20px;
	background-color: #fff;
	box-shadow: none;
	border-right: none;
	margin-right: 20px;
}
.privacy-pol p, .privacy-pol p a{
	color: #222222;
	font-size: 13px;
	font-weight: 300;
}
@media(max-width: 1495px){
	.feedback-content{
		justify-content: space-between;
	}
	.feedback-input-list, .feedback-textarea-list{
		max-width: 47%;
	}
}
@media(max-width: 1024px){
	.feedback-content{
		display: block;
	}
	.feedback-input-list{
		margin-bottom: 20px;
	}
	.feedback-input-list, .feedback-textarea-list{
		max-width: 100%;
	}
}
@media(max-width: 767px){
	.feedback {
		padding: 30px 10px;
	}
}
/*/Форма обратной связи*/


/*Поиск*/
.search p{
	font-size: 15px;
	margin-bottom: 15px;
}
.search-input{
	display: flex;
}
.search-input input{
	width: 404px;
	height: 41px;
	padding-left: 20px;
	margin-right: 10px;
	box-sizing: border-box;
	border: 1px solid #e2e2e3;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.search-input a{
	width: 103px;
	height: 41px;
	display: flex;
	color: #0f4e84;
	align-items: center;
	text-decoration: none;
	box-sizing: border-box;
	justify-content: center;
	border: 1px solid #0f4e84;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.search-input a:hover{
	color: #fff;
	background-color: #0f4e84;
}
/*/Поиск*/

/*Тайтлы*/
.title-38s{
	font-size: 38px;
	font-weight: 400;
}
.title-26s{
	font-size: 26px;
	font-weight: 400;
}
.title-22regular{
	font-size: 22px;
}
.title-18medium{
	font-size: 18px;
	font-weight: 500;
}
/*/Тайтлы*/
/*Текста*/
.text-18Light{
	font-size: 18px;
	font-weight: 300;
	line-height: 34px;
}
.text-15Light{
	font-size: 15px;
	font-weight: 300;
}
/*/Текста*/

/*Модальное окно*/

.modal{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1024;
}
.modal.d-flex{
	display: flex;
}
.bg-exit{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0,.65);
}
.modal .modal-content{
	position: relative;
	max-height: 100%;
	overflow-y: scroll;
}
.modal .modal-content::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.modal .modal-content { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.modal .modal-content { overflow: -moz-scrollbars-none; }

/*Модальное окно*/

/*Маржины*/
.mb-110{
	margin-bottom: 110px;
}
.mb-95{
	margin-bottom: 95px;
}
.mb-90{
	margin-bottom: 90px;
}
.mb-80{
	margin-bottom: 80px;
}
.mb-63{
	margin-bottom: 63px;
}
.mb-60{
	margin-bottom: 60px;
}
.mb-55{
	margin-bottom: 55px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-45{
	margin-bottom: 45px;
}
.mb-40{
	margin-bottom: 40px;
}
.mb-38{
	margin-bottom: 38px;
}
.mb-35{
	margin-bottom: 35px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-15{
	margin-bottom: 15px;
}
/*/Маржины*/

/*Блоки*/
.d-none{
	display: none;
}

/*/Блоки*/

/*Разное*/
.box-s{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.red-dot{
	list-style: none;
}
.red-dot li{
	display: flex;
	align-items: center;
}
.red-dot li:before{
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #c11a19;
	margin-right: 23px;
	flex-shrink: 0;
}
.color-w{
	color: #fff;
}
.burger{
	width: 25px;
	display: none;
	margin-top: 20px;
	margin-left: auto;
	padding: 20px 0px;
	position: relative;
}
.burger:before, .burger-line, .burger:after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	margin-bottom: 4px;
	background-color: #fff;
}
.burger:after{
	margin-bottom: 0px;
}
.burger.active .burger-line{
	display: none;
}
.burger.active:before, .burger.active:after{
	position: absolute;
	top: 50%;
	transform: rotate(45deg);
}
.burger.active:after{
	transform: rotate(-45deg);
}
@media(max-width: 767px){
	.burger{
		display: block;
	}
	.header-menu-items{
		display: none;
	}
}
.d-block{
	display: block;
}
/*/Разное*/



.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 1025px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

@media (min-width: 1496px) {
	.container {
		width: 1436px;
	}
}